<ul>
    {{#each burgersdata}}
    <li>
        <h2> BurgerName: {{burger_name}}</h2>
    </li>
   {{!-- <a href="/questions/{{id}}" class ="btn btn-outline-warning">Answer</a> --}}
    {{/each}}
</ul>